In [1]:
import arcpy
import requests
import tarfile
import requests
import zipfile
import io
import urllib.request
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os
import fiona
from datetime import datetime

In [2]:
arcpy.env.workspace = r'E:\ArcGIS_1\Project\BP'
wksp = arcpy.env.workspace

# Data acquisition

In [3]:
# Oil plume trajectory based on NOAA's data
oil_link = r'http://maps1.arcgisonline.com/arcgis/rest/services/NOAA_Gulf_Oil_Spill/MapServer/0/query?where=SHAPE_Area%3E0&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=true&returnTrueCurves=false&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&gdbVersion=&returnDistinctValues=false&resultOffset=&resultRecordCount=&queryByDistance=&returnExtentsOnly=false&datumTransformation=&parameterValues=&rangeValues=&f=pjson'
oil_output = requests.get(oil_link)

with open(r'oil.json', 'wb') as data:
    data.write(oil_output.content)
    
arcpy.conversion.JSONToFeatures("oil.json", "oil_spill.shp", "POLYGON")

In [4]:
# US borders
border_link = r'https://www2.census.gov/geo/tiger/GENZ2018/shp/cb_2018_us_nation_5m.zip'
border_output = requests.get(border_link)
zipfile.ZipFile(io.BytesIO(border_output.content)).extractall(wksp)

arcpy.management.Project("cb_2018_us_nation_5m.shp", "border_Project.shp", 'GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]]', "WGS_1984_(ITRF00)_To_NAD_1983", 'GEOGCS["GCS_North_American_1983",DATUM["D_North_American_1983",SPHEROID["GRS_1980",6378137.0,298.257222101]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]]', "NO_PRESERVE_SHAPE", None, "NO_VERTICAL")

In [5]:
# Water physicochemical variables
water_link = r'https://www.ncei.noaa.gov/archive/archive-management-system/OAS/bin/prd/jquery/download/117436.2.2.tar.gz'

with requests.get(water_link, stream=True) as  rx, tarfile.open(fileobj=rx.raw, mode="r:gz") as tarobj: 
        tarobj.extractall(wksp)

# Data cleaning and preparation

In [6]:
# Folder for clean water data
arcpy.CreateFolder_management(wksp, "water_data")

In [7]:
# Rewrite text files omitting dash-populated lines
def clean_txt(txt):
    with open(txt, 'r') as file:
        lines = file.readlines()
    
    name = arcpy.da.Describe(txt)['baseName'] + '.txt'
    path = os.path.join(wksp, 'water_data', name)
    with open(path, 'w') as file:
        for line in lines:
            if line[0] == '-':
                continue
            else:
                file.write(line)

In [8]:
# Clean files with the station locations and water variables
raw_data = r'0117436\2.2\data\1-data'
directory = os.path.join(wksp, raw_data)
files = ['2010_Seabird', '2010_StationList']
for filename in os.listdir(directory):
    for item in files:
        if item in filename:
            f = os.path.join(directory, filename)
            clean_txt(f)

### Stations

In [9]:
# Create and clean station DataFrame
stations = pd.read_csv(r'water_data\2010_StationList.txt', sep='|')
stations.drop(stations.iloc[:, 7:17], inplace=True, axis=1)
stations.drop(stations.columns[[0, 1]], axis=1, inplace=True)

# Remove empty rows in the table tail
stations.drop(stations.index[237:242], inplace=True) 

# Remove whitespaces from the header
stations.rename(columns = {
    "     StationID      ": "StationID",
    "      Station       ": "Station",
    "        Date        ": "Date",
    "       LAT dd       ": "Latitude",
    "       LON dd       ": "Longitude",
},
inplace=True
)

In [10]:
# Remove whitespaces from cells
for row in range(len(stations)):
    for col in range(len(list(stations.columns))):
        stations.iloc[row, col] = stations.iloc[row, col].strip()

In [11]:
# Remove stations without coordinates
empty_coords = list()
for row in range(len(stations)):
    if stations.iloc[row, 3] == '':
        empty_coords.append(row)
        
stations = stations.drop(empty_coords)

In [12]:
# Create point geometry
stations['geometry'] = stations.apply(lambda x: Point((float(x.Longitude), float(x.Latitude))), axis=1)

# Drop Lat and Long columns, and create GeoDataFrame
stations.drop(stations.columns[[3, 4]], axis=1, inplace=True)
stations_gdf = gpd.GeoDataFrame(stations, geometry = 'geometry')
stations_gdf

    StationID Station        Date                    geometry
0           1     C6C   2/14/2010  POINT (-90.48950 28.86880)
2           2      F0   3/22/2010  POINT (-91.61450 29.27220)
3           3      F1   3/22/2010  POINT (-91.61530 29.18270)
4           4      F2   3/22/2010  POINT (-91.61480 29.05000)
5           5     F2A   3/22/2010  POINT (-91.57630 28.94730)
..        ...     ...         ...                         ...
232       213     C6C  10/28/2010  POINT (-90.49070 28.86870)
233     213-2   C6C-2  10/28/2010  POINT (-90.49180 28.86550)
234       212      C7  10/28/2010  POINT (-90.39150 28.83180)
235       211      C8  10/28/2010  POINT (-90.27700 28.78870)
236       210      C9  10/28/2010  POINT (-90.23380 28.75830)

[230 rows x 4 columns]

### Water variables

In [13]:
# Create and clean water variables DataFrame
seabird = pd.read_csv(r'water_data\2010_Seabird.txt', sep='|')
seabird.drop(seabird.columns[[0, 1, 17]], axis=1, inplace=True)

# Remove whitespaces from the DataFrame
header = []
for i in range(len(seabird.columns.values)):
    header.append(seabird.columns.values[i].strip())
    
seabird.set_axis(header, axis=1, inplace=True)

for row in range(len(seabird)):
    for col in range(len(list(seabird.columns))):
        if type(seabird.iloc[0, col]) == str:
            seabird.iloc[row, col] = seabird.iloc[row, col].strip()

In [14]:
# Add a new column by concatenating Date and StationID values to create a temporary ID
seabird['Date & StationID'] = seabird['Date'].str.cat(seabird['StationID'], sep = " ")
seabird

     StationID        Date Station  ...  Oxygen (mg/L)  Oxygen (%) Date & StationID
0           17   3/23/2010      C1  ...           8.36      100.93     3/23/2010 17
1           17   3/23/2010      C1  ...           8.38      101.27     3/23/2010 17
2           17   3/23/2010      C1  ...           8.40      101.43     3/23/2010 17
3           17   3/23/2010      C1  ...           8.35      100.70     3/23/2010 17
4           17   3/23/2010      C1  ...           8.30      100.18     3/23/2010 17
...        ...         ...     ...  ...            ...         ...              ...
7727       209  10/27/2010      F5  ...           3.99       60.57   10/27/2010 209
7728       209  10/27/2010      F5  ...           4.00       60.71   10/27/2010 209
7729       209  10/27/2010      F5  ...           4.01       60.84   10/27/2010 209
7730       209  10/27/2010      F5  ...           3.96       60.17   10/27/2010 209
7731       209  10/27/2010      F5  ...           4.09       62.20   10/27/2010 209

[7732 rows x 16 columns]

In [15]:
# Auxiliary dataframe to find the minimum depth for each station on each date
auxiliary_df = seabird.groupby('Date & StationID').agg({'Depth (m)': 'min'})
auxiliary_df.reset_index(inplace=True)
auxiliary_df['Depth (m)'] = auxiliary_df['Depth (m)'].astype(str)
auxiliary_df

    Date & StationID Depth (m)
0     10/27/2010 203      0.03
1     10/27/2010 204      0.05
2     10/27/2010 205      0.07
3     10/27/2010 206      0.04
4     10/27/2010 207      0.03
..               ...       ...
206    9/17/2010 198      0.29
207    9/17/2010 199      0.17
208    9/17/2010 200       0.2
209    9/18/2010 222      0.04
210    9/18/2010 223      0.49

[211 rows x 2 columns]

In [16]:
# Create keys for join with unique ID by concatenating data, station ID, and depth 
auxiliary_df['Join key'] = auxiliary_df['Date & StationID'].str.cat(auxiliary_df['Depth (m)'], sep = " ")
seabird['Join key'] = seabird['Date & StationID'].str.cat(seabird['Depth (m)'].astype(str), sep = " ")

In [17]:
# The join output keeps only the readings at the minimum depth for each station on each date
join = auxiliary_df.merge(seabird, left_on='Join key', right_on='Join key', how = 'inner')
join.drop(join.columns[[0, 1, 2, 9, 18]], axis=1, inplace=True)
join.rename(columns = {'Depth (m)_y': 'Depth (m)'}, inplace = True)
join

    StationID        Date Station  ...  Density (kg/m^3)  Oxygen (mg/L) Oxygen (%)
0         203  10/27/2010      F0  ...             15.14           5.89      83.76
1         204  10/27/2010      F1  ...             15.80           6.48      92.08
2         205  10/27/2010      F2  ...             18.85           6.22      91.02
3         206  10/27/2010     F2A  ...             20.05           6.58      97.49
4         207  10/27/2010      F3  ...             19.97           6.69      99.06
..        ...         ...     ...  ...               ...            ...        ...
207       198   9/17/2010      F2  ...             17.39           6.74     105.18
208       199   9/17/2010      F1  ...             15.26           6.35      98.49
209       200   9/17/2010      F0  ...             14.39           6.29      96.53
210       222   9/18/2010   F2A-2  ...             18.06           6.54     102.40
211       223   9/18/2010   C6C-2  ...             15.81           6.94     106.56

[212 rows x 14 columns]

In [18]:
# Add the water variable reading at the minimum depth to the station GeoDataFrame
data = stations_gdf.merge(join, left_on='StationID', right_on='StationID', how = 'inner')
data.drop(data.columns[[1, 2, 6, 8, 9, 10, 11, 13, 14]],  axis=1, inplace=True)
header_data = ['Station ID', 'geometry', 'Date', 'Station', 'Depth (m)', 'Cond (S/m)', 'O2 (mg/L)', 'O2 (% sat)']
data.set_axis(header_data, axis=1, inplace=True)

# Drop readings before the oil spill accident
data.drop(data.index[0:34], inplace=True)
data

    Station ID                    geometry  ... O2 (mg/L) O2 (% sat)
34          45  POINT (-90.53200 29.05020)  ...     10.04     142.27
35          44  POINT (-90.52080 28.98980)  ...     11.21     158.56
36          43  POINT (-90.52400 28.95000)  ...     10.43     153.37
37          42  POINT (-90.48820 28.91380)  ...      9.44     133.37
38          40  POINT (-90.48880 28.86820)  ...      7.28     106.16
..         ...                         ...  ...       ...        ...
206        213  POINT (-90.49070 28.86870)  ...      6.75      99.38
207      213-2  POINT (-90.49180 28.86550)  ...      6.72      99.08
208        212  POINT (-90.39150 28.83180)  ...      6.74      99.31
209        211  POINT (-90.27700 28.78870)  ...      6.69      97.88
210        210  POINT (-90.23380 28.75830)  ...      6.78      99.28

[177 rows x 8 columns]

In [19]:
# Change date format to make it compatible with that of the oil plume trajectory
for i in range(len(data)):
    data.iloc[i, 2] = datetime.strptime(data.iloc[i, 2].replace('/', '-'), '%m-%d-%Y').date()
    data.iloc[i, 2] = data.iloc[i, 2].strftime('%Y-%m-%d')

In [20]:
# Create a shapefile with WGS 1984 coordinate system
data.to_file('Stations.shp', driver='ESRI Shapefile')
sr = arcpy.SpatialReference(4326)
arcpy.management.DefineProjection("Stations.shp", sr)

# Spatial Interpolation

### Dissolved Oxygen (mg/L)

In [21]:
# Interpolation and one-value cross validation

arcpy.ga.IDW("Stations.shp", "O2 (mg/L)", "IDW_oxygen", "IDW_oxygen.tif", 0.00488239999999999, 2, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", None)
oxygen_cv_IDW = arcpy.ga.CrossValidation("IDW_oxygen")
print(f"Oxygen IDW RMSE = {str(oxygen_cv_IDW.rootMeanSquare)}")

arcpy.ga.GlobalPolynomialInterpolation("Stations.shp", "O2 (mg/L)", "GPI_oxygen", "GPI_oxygen.tif", 0.00488239999999999, 2, None)
oxygen_cv_GPI = arcpy.ga.CrossValidation("GPI_oxygen")
print(f"Oxygen GPI RMSE = {str(oxygen_cv_GPI.rootMeanSquare)}")

arcpy.ga.LocalPolynomialInterpolation("Stations.shp", "O2 (mg/L)", "LPI_oxygen", "LPI_oxygen.tif", 0.00488239999999999, 0, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "EXPONENTIAL", None, "NO_USE_CONDITION_NUMBER", None, None, "PREDICTION")
oxygen_cv_LPI = arcpy.ga.CrossValidation("LPI_oxygen")
print(f"Oxygen LPI RMSE = {str(oxygen_cv_LPI.rootMeanSquare)}")

arcpy.ga.RadialBasisFunctions("Stations.shp", "O2 (mg/L)", "RBF_oxygen", "RBF_oxygen.tif", 0.00488239999999999, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "COMPLETELY_REGULARIZED_SPLINE", None)
oxygen_cv_RBF = arcpy.ga.CrossValidation("RBF_oxygen")
print(f"Oxygen RBF RMSE = {str(oxygen_cv_RBF.rootMeanSquare)}")

Oxygen IDW RMSE = 1.2562260210818204
Oxygen GPI RMSE = 1.1248656411695528
Oxygen LPI RMSE = 1.1142718605064674
Oxygen RBF RMSE = 1.1916096058155428

In [22]:
# Keep interpolations only over water

arcpy.CreateFolder_management(wksp, "oxygen_interpolations")

oxygen_interpolation_tifs = ["IDW_oxygen.tif", "GPI_oxygen.tif", "LPI_oxygen.tif", "RBF_oxygen.tif"]

for tif in oxygen_interpolation_tifs:
    name = "oxygen_interpolations\\" + tif
    out_raster = arcpy.sa.ExtractByMask(tif, "border_Project", "OUTSIDE", '-94.5161412 28.4832588 -89.472622 29.7087412 GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]]'); out_raster.save(name)

### Oxygen saturation (%)

In [23]:
# Interpolation and one-value cross validation

arcpy.ga.IDW("Stations.shp", "O2 (% sat)", "IDW_oxygen_sat", "IDW_oxygen_sat.tif", 0.00488239999999999, 2, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", None)
oxygen_sat_cv_IDW = arcpy.ga.CrossValidation("IDW_oxygen_sat")
print(f"Oxygen saturation IDW RMSE = {str(oxygen_sat_cv_IDW.rootMeanSquare)}")

arcpy.ga.GlobalPolynomialInterpolation("Stations.shp", "O2 (% sat)", "GPI_oxygen_sat", "GPI_oxygen_sat.tif", 0.00488239999999999, 2, None)
oxygen_sat_cv_GPI = arcpy.ga.CrossValidation("GPI_oxygen_sat")
print(f"Oxygen saturation GPI RMSE = {str(oxygen_sat_cv_GPI.rootMeanSquare)}")

arcpy.ga.LocalPolynomialInterpolation("Stations.shp", "O2 (% sat)", "LPI_oxygen_sat", "LPI_oxygen_sat.tif", 0.00488239999999999, 0, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "EXPONENTIAL", None, "NO_USE_CONDITION_NUMBER", None, None, "PREDICTION")
oxygen_sat_cv_LPI = arcpy.ga.CrossValidation("LPI_oxygen_sat")
print(f"Oxygen saturation LPI RMSE = {str(oxygen_sat_cv_LPI.rootMeanSquare)}")

arcpy.ga.RadialBasisFunctions("Stations.shp", "O2 (% sat)", "RBF_oxygen_sat", "RBF_oxygen_sat.tif", 0.00488239999999999, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "COMPLETELY_REGULARIZED_SPLINE", None)
oxygen_sat_cv_RBF = arcpy.ga.CrossValidation("RBF_oxygen_sat")
print(f"Oxygen saturation RBF RMSE = {str(oxygen_sat_cv_RBF.rootMeanSquare)}")

Oxygen saturation IDW RMSE = 18.167580258042758
Oxygen saturation GPI RMSE = 16.513796643074027
Oxygen saturation LPI RMSE = 16.320188154096286
Oxygen saturation RBF RMSE = 17.28459081642893

In [24]:
# Keep interpolations only over water

arcpy.CreateFolder_management(wksp, "oxygen_sat_interpolations")

oxygen_sat_interpolation_tifs = ["IDW_oxygen_sat.tif", "GPI_oxygen_sat.tif", "LPI_oxygen_sat.tif", "RBF_oxygen_sat.tif"]

for tif in oxygen_sat_interpolation_tifs:
    name = "oxygen_sat_interpolations\\" + tif
    out_raster = arcpy.sa.ExtractByMask(tif, "border_Project", "OUTSIDE", '-94.5161412 28.4832588 -89.472622 29.7087412 GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]]'); out_raster.save(name)

### Conductivity (S/m)

In [25]:
# Interpolation and one-value cross validation

arcpy.ga.IDW("Stations.shp", "Cond (S/m)", "IDW_cond", "IDW_cond.tif", 0.00488239999999999, 2, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", None)
cond_cv_IDW_cond = arcpy.ga.CrossValidation("IDW_cond")
print(f"Conductivity IDW RMSE = {str(cond_cv_IDW_cond.rootMeanSquare)}")

arcpy.ga.GlobalPolynomialInterpolation("Stations.shp", "Cond (S/m)", "GPI_cond", "GPI_cond.tif", 0.00488239999999999, 2, None)
cond_cv_GPI_cond = arcpy.ga.CrossValidation("GPI_cond")
print(f"Conductivity GPI RMSE = {str(cond_cv_GPI_cond.rootMeanSquare)}")

arcpy.ga.LocalPolynomialInterpolation("Stations.shp", "Cond (S/m)", "LPI_cond", "LPI_cond.tif", 0.00488239999999999, 0, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "EXPONENTIAL", None, "NO_USE_CONDITION_NUMBER", None, None, "PREDICTION")
cond_cv_LPI_cond = arcpy.ga.CrossValidation("LPI_cond")
print(f"Conductivity LPI RMSE = {str(cond_cv_LPI_cond.rootMeanSquare)}")

arcpy.ga.RadialBasisFunctions("Stations.shp", "Cond (S/m)", "RBF_cond", "RBF_cond.tif", 0.00488239999999999, "NBRTYPE=Standard S_MAJOR=1.29618154014012 S_MINOR=1.29618154014012 ANGLE=0 NBR_MAX=15 NBR_MIN=10 SECTOR_TYPE=ONE_SECTOR", "COMPLETELY_REGULARIZED_SPLINE", None)
cond_cv_RBF_cond = arcpy.ga.CrossValidation("RBF_cond")
print(f"Conductivity RBF RMSE = {str(cond_cv_RBF_cond.rootMeanSquare)}")

Conductivity IDW RMSE = 0.5120483304703259
Conductivity GPI RMSE = 0.48360936876178534
Conductivity LPI RMSE = 0.4766484648172648
Conductivity RBF RMSE = 0.4899470304993439

In [26]:
# Keep interpolations only over water

arcpy.CreateFolder_management(wksp, "conductivity_interpolations")

cond_tifs = ["IDW_cond.tif", "GPI_cond.tif", "LPI_cond.tif", "RBF_cond.tif"]
for tif in cond_tifs:
    name = "conductivity_interpolations\\" + tif
    out_raster = arcpy.sa.ExtractByMask(tif, "border_Project", "OUTSIDE", '-94.5161412 28.4832588 -89.472622 29.7087412 GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]]'); out_raster.save(name)

# Intersection

In [27]:
# Spatiotemporal intersection

arcpy.analysis.Intersect(["oil_spill.shp", "Stations.shp"], "oil_spill_Intersect.shp", "ALL", None, "INPUT")

intersect = gpd.read_file('oil_spill_intersect.shp')

no_matches = list()
for row in range(len(intersect)):
    if intersect.iloc[row, 4] != intersect.iloc[row, 9]:
        no_matches.append(row)
        
intersect = intersect.drop(no_matches)
print(intersect.Date_.unique())
intersect

['2010-07-31' '2010-07-30']

     FID_oil_sp  OBJECTID  ... O2____sat_                    geometry
32          273       695  ...     109.45  POINT (-90.22020 28.76630)
71          273       695  ...     113.75  POINT (-90.27630 28.78830)
153         273       695  ...     101.94  POINT (-89.99820 28.83420)
214         272       692  ...     121.69  POINT (-90.49220 28.86750)
362         273       695  ...     123.98  POINT (-90.03100 28.92450)
472         273       695  ...     153.70  POINT (-89.56730 28.98350)
579         273       695  ...     112.65  POINT (-90.07670 28.99300)
726         273       695  ...     108.16  POINT (-89.74980 29.07070)
764         273       695  ...     113.89  POINT (-89.75000 29.13420)

[9 rows x 16 columns]